{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
  },
  "rules": {
    "eqeqeq": 2,
    "no-console": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 2,
    "valid-typeof": 2,
    "complexity": [1, 10],
    "no-redeclare": 2,
    "no-eq-null": 2,
    "callback-return": 2,
    "handle-callback-err": 2,
    "no-process-exit": 2,
    "no-irregular-whitespace": 0,
    "no-useless-escape":0,
    "strict": [1, "global"]
  }
}
